{% extends "playlists/base.html" %} 
{% block content %}
    <form action="#" method="get" class="form-group">
        <div class="form-group">
            <legend >Play with a playlist</legend>
            <input type="text" placeholder="playlist" name="playlist_link" class="form-control" />
            <small id="linkHelp" class="form-text text-muted">Make sure the link has the word "list"</small>
            <input
            type="submit"
            class="btn btn-primary mt-2"
            id="latestRates"
            value="Length"
            name="length"
            />
            <input type="submit" class="btn btn-primary mt-2" value="Sort By Views" name="popular" />
            <input type="submit" class="btn btn-primary mt-2" value="Get Unsorted Videos from your Channel" name="private" />
        </div>
    </form>
    
    {% if hours %}
        <p style="color: green">Total Length: {{hours}}h:{{minutes}}m:{{seconds}}s</p>
    {% elif videos %}
        {% for vid in videos %}
            <p style="color: green">Views: {{vid.views}} || Video Link: <a href="{{vid.url}}">{{vid.url}}</a></p>
        {% endfor %}
    {% elif unsorted_private_videos %}
        {% for vid in unsorted_private_videos %}
            <p style="color: green">Your private videos: <a href="{{vid}}">{{vid}}</a></p>
        {% endfor %}
    {% elif error %}
        <p style="color: red">Make sure the link is correct</p>
    {% endif %}
    <hr>
{% endblock content %}